@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;700;900&display=swap');

* {
    margin: 0 auto;
    font-family: 'Titillium Web', sans-serif;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    background: #222222;
}