.header {
  display: block;
  height: 80px;
  width: 100%;
  background-color: #222222;
  box-shadow: 3px 3px 10px #000000;
}

.header__container {
  display: flex;
  height: 80px;
  width: 60%;
  padding: 10px 0 10px 0;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  margin: 0;
  display: block;
  height: 40px;
  width: 200px;
  cursor: pointer;
}

.header__favorite-btn {
  position: relative;
  margin: 0;
  display: block;
  height: 45px;
  width: 150px;
  background-color: #434242;
  cursor: pointer;
  border-radius: 10px;
  line-height: 45px;
  color: #f3efe0;
  font-size: 20px;
  text-align: center;
  font-weight: 550;
}

.header__favorite-btn:hover {
  outline: #22a39f 2px solid;
}

.header__favorite-btn--active {
  border-radius: 10px;
  background-color: #22a39f;
  color: #434242;
  box-shadow: inset 2px 2px 5px #000000;
}

.header__favorite-section {
  top: 80px;
  left: 20%;
  position: absolute;
  display: none;
  width: 60%;
  min-height: 250px;
  padding: 15px;
  background-color: #22a39f;
  border-radius: 10px;
  z-index: 1;
  box-shadow: 5px 5px 10px #000000, inset 2px 2px 5px #247a78;
  cursor: default;
}

.header__favorite-section--active {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.header__favorite-section__movies-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 150px;
  text-align: start;
  gap: 10px;
  color: #494949;
  font-size: 20px;
  text-align: center;
  font-weight: 550;
}

.header__favorite-section__btns-container {
  padding-top: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  height: 45px;
  width: 100%;
  gap: 20px;
  border-top: dotted 2px #434242;
  text-align: center;
}

.header__favorite-section__close-btn,
.header__favorite-section__reset-btn {
  margin: 0;
  display: block;
  width: 100px;
  height: 35px;
  background-color: #22a39f;
  border-radius: 10px;
  color: #434242;
  line-height: 35px;
  font-weight: 600;
  font-size: 18px;
  cursor: pointer;
  box-shadow: 1px 1px 5px #000000;
  transition: 0.3s ease-in-out;
}

.header__favorite-section__close-btn:hover,
.header__favorite-section__reset-btn:hover {
  background-color: #434242;
  color: #f3efe0;
  box-shadow: 1px 1px 2px #000000;
}

.header__favorite-section__movie-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 150px;
  border-radius: 10px;
  cursor: pointer;
  color: #434242;
  box-shadow: 1px 1px 5px #434242;
}

.header__favorite-section__movie-card:hover {
  background-color: #1f8d88;
}

.header__favorite-section__movie-card__poster {
  display: block;
  margin: 0;
  width: 100px;
  height: 150px;
  border-radius: 10px;
  justify-self: flex-start;
}

.header__favorite-section__movie-card__title {
  margin: 0;
  display: block;
  width: 55%;
  height: 150px;
  line-height: 150px;
  font-size: 25px;
  font-weight: 600;
  padding-left: 50px;
  text-align: left;
}

.header__favorite-section__movie-card__delete {
  margin: 0;
  width: 120px;
  line-height: 120px;
  height: 120px;
  font-size: 50px;
  border-left: 2px dotted #434242;
  text-align: center;
}

.header__favorite-section__movie-card__text {
  margin: 0;
  width: 120px;
  line-height: 120px;
  text-align: center;
  border-left: 2px dotted #434242;
}

@media screen and (max-width: 320px) {
  .header {
    height: 60px;
  }

  .header__container {
    width: 80%;
    height: inherit;
  }

  .header__favorite-btn {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    line-height: 35px;
  }

  .header__favorite-section {
    top: 60px;
    width: 80%;
    left: 10%;
    padding: 10px;
    min-height: 100px;
  }

  .header__favorite-section__movies-container {
    min-height: 100px;
  }

  .header__favorite-section__btns-container {
    height: 45px;
    gap: 10px;
    justify-content: space-around;
  }

  .header__favorite-section__movie-card {
    height: 80px;
  }

  .header__favorite-section__movie-card__poster {
    width: 53px;
    height: 80px;
  }

  .header__favorite-section__movie-card__title {
    font-size: 15px;
    height: 80px;
    padding: 5px;
    width: 50%;
    line-height: 15px;
  }

  .header__favorite-section__movie-card__text {
    display: none;
  }

  .header__favorite-section__movie-card__delete {
    width: 50px;
    height: 80px;
    line-height: 80px;
    font-size: 30px;
    border-radius: 10px;
  }
}

@media screen and (min-width: 321px) and (max-width: 410px) {
  .header {
    height: 80px;
  }

  .header__container {
    width: 80%;
    height: inherit;
  }

  .header__favorite-btn {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    line-height: 45px;
  }

  .header__favorite-section {
    top: 80px;
    width: 80%;
    left: 10%;
    padding: 10px;
    min-height: 100px;
  }

  .header__favorite-section__movies-container {
    min-height: 100px;
  }

  .header__favorite-section__btns-container {
    height: 45px;
    gap: 10px;
    justify-content: flex-end;
  }

  .header__favorite-section__movie-card {
    height: 100px;
  }

  .header__favorite-section__movie-card__poster {
    width: 65px;
    height: 100px;
  }

  .header__favorite-section__movie-card__title {
    font-size: 20px;
    height: 80px;
    padding: 10px;
    width: 60%;
    line-height: 20px;
  }

  .header__favorite-section__movie-card__text {
    display: none;
  }

  .header__favorite-section__movie-card__delete {
    width: 60px;
    height: 100px;
    line-height: 100px;
    font-size: 35px;
    border-radius: 10px;
  }
}

@media screen and (min-width: 411px) and (max-width: 575px) {
  .header {
    height: 80px;
  }

  .header__container {
    width: 70%;
    height: inherit;
  }

  .header__favorite-btn {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    line-height: 45px;
  }

  .header__favorite-section {
    top: 80px;
    width: 70%;
    left: 15%;
    padding: 10px;
    min-height: 100px;
  }

  .header__favorite-section__movies-container {
    min-height: 100px;
  }

  .header__favorite-section__btns-container {
    height: 45px;
    gap: 10px;
    justify-content: flex-end;
  }

  .header__favorite-section__movie-card {
    height: 100px;
  }

  .header__favorite-section__movie-card__poster {
    width: 65px;
    height: 100px;
  }

  .header__favorite-section__movie-card__title {
    font-size: 20px;
    height: 80px;
    padding: 10px;
    width: 60%;
    line-height: 20px;
  }

  .header__favorite-section__movie-card__text {
    display: none;
  }

  .header__favorite-section__movie-card__delete {
    width: 60px;
    height: 100px;
    line-height: 100px;
    font-size: 35px;
    border-radius: 10px;
  }
}

@media screen and (min-width: 576px) and (max-width: 900px) {
  .header__container {
    width: 70%;
  }
  .header__favorite-section {
    top: 80px;
    width: 70%;
    left: 15%;
    padding: 10px;
    min-height: 100px;
  }

  .header__favorite-section__movie-card__text {
    display: none;
  }

  .header__favorite-section__movie-card {
    height: 120px;
  }

  .header__favorite-section__movie-card__delete {
    width: 85px;
    height: 120px;
    line-height: 120px;
    font-size: 35px;
    border-radius: 10px;
  }

  .header__favorite-section__movie-card__poster {
    width: 85px;
    height: 120px;
  }

  .header__favorite-section__movie-card__title {
    font-size: 20px;
    height: 120px;
    padding: 10px;
    width: 70%;
    line-height: 40px;
  }
}

@media screen and (min-width: 901px) and (max-width: 1400px) {
  .header__container {
    width: 80%;
  }

  .header__favorite-section {
    top: 80px;
    width: 80%;
    left: 10%;
    padding: 10px;
    min-height: 100px;
  }
}

@media screen and (min-width: 1401px) and (max-width: 1700px) {
  .header__container {
    width: 70%;
  }

  .header__favorite-section {
    top: 80px;
    width: 70%;
    left: 15%;
    padding: 10px;
    min-height: 100px;
  }
}
